* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}
.first-section {
  background-color: #004db3;
  background-image: url("../image/svg/Minimal\ Pattern\ -\ 1\ -\ D.svg");
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 4px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

nav .logo img {
  width: 130px;
  height: 47px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
nav ul .home {
  color: #ffff;
}
nav ul li {
  color: #aac4e6;
  font-size: 16px;
}
nav ul li:hover {
  color: #ffff;
}
nav ul button,
.banner .enroll-bttn {
  color: #004db3;
  border-radius: 4px;
  background: #fff;
  padding: 10px 20px;
  border: 1px;
}
.nav-mobile {
  display: none;
}
.banner {
  text-align: center;
}
.banner h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  max-width: 450px;
  margin: 0 auto;
  color: #ffff;
}
.banner .section-words {
  color: #ffff;
  font-size: 10px;
  max-width: 297px;
  margin: 0 auto;
  padding: 20px 0;
}
.banner .get-bttn {
  color: #ffff;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ffff;
  background-color: #004db3;
  margin-right: 15px;
}
.banner .overall-pro-pics {
  display: flex;
  align-items: center;
  max-width: 327px;
}

.banner .overall-pro-pics .profile-pics .profile-2 {
  left: -20px;
}

.banner .overall-pro-pics .profile-pics .profile-3 {
  left: -40px;
}

.banner .overall-pro-pics .profile-pics .profile-4 {
  left: -60px;
}

.banner .overall-pro-pics .profile-pics .profile-5 {
  left: -80px;
}

.banner .overall-pro-pics .profile-pics img {
  width: 50px;
  height: 50px;
  margin: 15px 0;
  position: relative;
}

.banner .overall-pro-pics .previews {
  position: relative;
  left: -60px;
  color: #ffff;
}
.herobanner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.herobanner .vector {
  position: absolute;
  width: 70px;
  right: 0;
  top: -95px;
}
.herobanner .pics-hero {
  max-width: 700px;
  margin: 0 auto;
  bottom: -8px;
  position: relative;
}
.vectorw {
  width: 33px;
  position: absolute;
  left: 0;
}
.vector-1 {
  display: none;
}

.sec-section {
  background: #ccdbf0;
}
.sec-section .sponsors-logo {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}
.sec-section .sponsors-logo img {
  width: 70px;
}

.third-section-all {
  background-color: #f8f9fc;
}
.third-section {
  text-align: center;
  position: relative;
}

.third-section .words-third-section h2 img {
  width: 32px;
  position: absolute;
  left: -1px;
  top: -15px;
}
.third-section .words-third-section {
  margin-top: 25px;
}
.third-section .words-third-section h2 {
  font-size: 30px;
  line-height: 40px;
  max-width: 409px;
  margin: 0 auto;
  position: relative;
}
.third-section .words-third-section p {
  color: #a1a1a1;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  max-width: 410px;
  margin: 0 auto;
  padding: 20px 0;
}

.third-section .words-third-section button {
  border-radius: 3px;
  background: #004db3;
  padding: 8px 16px;
  color: #ffff;
  border: 1px;
  font-size: 12px;
}
.third-section .words-third-section .vector-3 {
  width: 30px;
  position: absolute;
  right: 0;
}
.third-section .words-third-section .classes,
.third-section .words-third-section .classes-2 {
  display: flex;
  margin: 20px auto;
  max-width: 360px;
}
.third-section .words-third-section .classes .audio img,
.third-section .words-third-section .classes-2 .audio img {
  width: 30px;
  margin-right: 5px;
}

.third-section .words-third-section .classes .audio,
.third-section .words-third-section .classes-2 .audio {
  border-radius: 4px;
  background: #ffff;
  padding: 8px 32px 8px 16px;
  margin: 10px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.third-section .image-third-section .frame-third {
  position: relative;
  margin: 30px 0;
}
.third-section .image-third-section .frame-third .frame-113 {
  width: 120px;
  position: absolute;
  left: 165px;
  top: 130px;
}

.third-section .image-third-section .frame-third .frame-122 {
  max-width: 400px;
  margin: 20px auto;
}

.third-section .image-third-section .frame-third .vector-6 {
  width: 100px;
  position: absolute;
  bottom: 42px;
  right: 40px;
}
.third-section-all .image-third-section .vector-5 {
  position: relative;
}
.third-section .image-third-section .vector-5 img {
  width: 21px;
  position: absolute;
  right: -22px;
  top: 22px;
}

.third-section .image-third-section .vector-6 img {
  position: absolute;
  width: 98px;
  right: 59px;
  bottom: 20px;
}
.third-section .image-third-section .frame img {
  width: 10px;
  position: absolute;
  bottom: 24px;
  right: 185px;
}
.fourth-section .word-fourth h2 {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  max-width: 428px;
  margin: 10px auto;
}

.fourth-section .word-fourth p {
  color: #a1a1a1;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  text-transform: capitalize;
  max-width: 400px;
  margin: 10px auto;
}

.fourth-section .word-fourth .fourth-image {
  max-width: 390px;
  height: 260px;
  border-radius: 8px;
  margin: 20px auto;
}
.fourth-section .flex-fourth .first-flex {
  display: flex;
  justify-content: space-between;
  width: 477px;
  margin: 10px auto;
}

.fourth-section .flex-fourth .first-flex .image-word-flex {
  background-color: #ffff;
  padding: 25px 20px;
  width: 194px;
  border-radius: 4px;
}

.fourth-section .flex-fourth .first-flex .image-word-flex img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.fourth-section .flex-fourth .first-flex .image-word-flex h5 {
  font-size: 12px;
  margin: 5px 0;
}
.fourth-section .flex-fourth .first-flex .image-word-flex p {
  color: #a1a1a1;
  font-size: 8px;
  line-height: 16px;
  text-transform: capitalize;
}
.fifth-section {
  margin-top: 30px;
}
.fifth-section .fif-words h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px auto;
  max-width: 325px;
}
.fifth-section .fif-words p {
  font-size: 10px;
  text-transform: capitalize;
  margin: 15px auto;
  max-width: 400px;
  line-height: 21px;
  text-align: center;
  color: #a1a1a1;
}
.fifth-section .fif-words .fif-flex {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  max-width: 300px;
}
.fifth-section .fif-words .fif-flex li {
  font-size: 10px;
  color: #a1a1a1;
}
.fifth-section .fif-words .fif-flex li:hover {
  font-size: 10px;
  color: #004db3;
  border: 1px;
  padding: 4px 8px;
  border-radius: 2px;
  background: #fff;
}
.category {
  border: 1px;
  padding: 16px 13px 19px 13px;
  border-radius: 10px;
  background: #fff;
  margin: 10px auto;
  width: 250px;
}
.category .cart-1 .cart-flex-1 {
  display: flex;
  justify-content: space-between;
}
.category .cart-1 .cart-flex-1 p {
  border: 1px;
  font-size: 8px;
  color: #1e5dce;
  padding: 3px 13px;
  border-radius: 10px;
  background: rgba(30, 93, 206, 0.2);
}
.category .cart-1 .cart-flex-1 .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78px;
  color: #a1a1a1;
}
.category .cart-1 h3 {
  margin: 15px 0;
}
.category .cart-1 .schedule {
  display: flex;
  justify-content: space-between;
}
.category .cart-1 .schedule .schedule-flex,
.category .cart-1 .schedule .menubook-flex {
  display: flex;
  justify-content: space-between;
  width: 90px;
  align-items: center;
  color: #a1a1a1;
}
.category .cart-1 .schedule .menubook-flex {
  width: 75px;
}
.category .cart-1 .schedule .schedule-flex img,
.category .cart-1 .schedule .menubook-flex img {
  width: 20px;
}
.leonard-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.frame-165-img {
  width: 40px;
}
.frame-165 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 136px;
}
.leonard-flex h4 {
  color: #004db3;
}

@media (min-width: 650px) {
  .all-categories {
    display: flex;
    flex-wrap: wrap;
  }
  .fifth-section .fif-words .fif-flex {
    max-width: 400px;
  }
  .fifth-section .fif-words .fif-flex li {
    font-size: 13px;
  }

  .fifth-section .fif-words p {
    max-width: 500px;
    font-size: 13px;
  }
  .fifth-section .fif-words h2 {
    font-size: 30px;
    max-width: 500px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 4px 20px;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .herobanner {
    margin: 0;
  }
  .vectorw {
    display: none;
  }
  .banner-flex {
    position: relative;
    top: 100px;
    height: 350px;
  }

  .banner h3 {
    font-size: 55px;
    line-height: 55px;
  }

  .banner .section-words {
    margin: 0;
  }
  .vector-1 {
    width: 50px;
    position: relative;
    top: 149px;
    right: 77px;
  }
  .vector {
    transform: rotate(-60.731deg);
    left: -38px;
  }

  .sec-section .sponsors-logo {
    width: 900px;
  }
  .sec-section .sponsors-logo img {
    width: 80px;
  }

  .third-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .third-section .image-third-section .frame-third .frame-122 {
    margin-top: 80px;
  }

  .third-section .image-third-section .frame-third .frame-113 {
    width: 120px;
    left: 77px;
    top: 100px;
  }
  .third-section .image-third-section .frame-third .vector-6 {
    width: 150px;
    bottom: 63px;
    right: -15px;
  }
  .third-section .words-third-section {
    margin-top: 50px;
  }
  .third-section .image-third-section .vector-5 img {
    width: 21px;
    position: absolute;
    top: 221px;
    right: -20px;
  }
  .fourth-section {
    display: flex;
    margin: 20px auto 0;
    justify-content: space-between;
  }
  .fourth-section .word-fourth h2 {
    font-size: 33px;
    text-align: left;
    line-height: 43px;
  }

  .fourth-section .word-fourth p {
    text-align: left;
    margin: 15px 0;
    line-height: 20px;
  }
  .fourth-section .word-fourth .fourth-image {
    margin: 0;
  }
  .fourth-section .flex-fourth {
    margin-top: 35px;
  }
  .all-categories {
    display: flex;
    flex-wrap: wrap;
  }
  .fifth-section .fif-words .fif-flex {
    max-width: 600px;
  }
  .fifth-section .fif-words .fif-flex li {
    font-size: 18px;
  }

  .fifth-section .fif-words p {
    max-width: 700px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1000px) {
  .third-section {
    width: 900px;
  }
  .fourth-section {
    width: 900px;
  }
}

@media (max-width: 365px) {
  .banner .overall-pro-pics {
    max-width: 300px;
  }
  .banner .overall-pro-pics .profile-pics img {
    width: 40px;
    height: 40px;
  }

  .third-section .image-third-section .frame-third {
    width: 250px;
  }
  .sec-section .sponsors-logo img {
    width: 30px;
  }
  .sec-section .sponsors-logo {
    width: 290px;
  }
}

@media (max-width: 555px) {
  /* .third-section .image-third-section .frame-third .frame-122 {
    width: 350px;
  } */
  .fourth-section .flex-fourth .first-flex {
    display: block;
    margin: 0 auto;
    width: 230px;
  }
  .fourth-section .flex-fourth .first-flex .image-word-flex {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .sec-section .sponsors-logo {
    width: 340px;
  }
  .sec-section .sponsors-logo img {
    width: 60px;
  }
  /* .third-section .image-third-section .frame-third .frame-122 {
    width: 350px;
  } */
}

@media (max-width: 750px) {
  .third-section .image-third-section .frame-third .frame-122 {
    width: 300px;
  }
}

@media (max-width: 900px) {
  nav .logo {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .menu-hamburger img {
    width: 50px;
    color: #fff;
  }
  .container {
    position: relative;
  }
  nav ul {
    display: block;
    position: absolute;
    padding: 10px;
    background-color: #ffff;
    width: 200px;
    right: 0;
    top: 90px;
    transform: translateX(250px);
    transition: 0.9s;
  }
  .active {
    transform: translateX(0px);
  }
  nav {
    display: block;
    padding: 0px 0;
  }
  nav ul li {
    padding: 5px 0;
  }

  .overall-pro-pics {
    max-width: 400px;
    margin: 0 auto;
  }
}
